@use "./common.scss" as *;

.clock-wrapper {
  @include center-flex-column;
  h1,
  h2 {
    color: purple;
  }
  .clock {
    font-size: 40px;
    color: brown;
  }
  p {
    width: 50%;
    font-size: 20px;
  }

  .toggle-button {
    @include button-style;
  }
}
