@use "./common.scss" as *;

.font-sizer-wraapper {
  @include center-flex-column;
  h1 {
    color: purple;
  }
  .clock {
    font-size: 40px;
    color: brown;
  }

  .size-changer {
    @include button-style;
  }
}
