html,
body {
  margin: 0;

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
  }
  .home-text {
    color: black;
    text-align: center;
    width: 40%;
    margin-top: 50px;
    p {
      font-size: 20px;
    }
  }

  .home-image {
    width: 50%;
    border-radius: 30px;
  }
}
