@use "./common.scss" as *;

.rgb-wrapper {
  @include center-flex-column;
  h1,
  h2 {
    color: purple;
  }

  .color-box-wrapper {
    border: 1px solid black;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  p {
    width: 50%;
    font-size: 20px;
  }

  .color-adjuster {
    margin: 10px 0;
  }

  .size-changer {
    @include button-style;
  }
}
